/* Colors */
$primaryColor : #00438b;
$secodaryColor : #00438B;
$yellow : #ffcf4f;
$footerBlack : #212529;


@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

@keyframes fade-in-anim {
    100% {
        width: 85px;
        opacity: 1;
        filter: blur(0);
    }
}


body,
*,
button {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1120px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* Navbar */
.navbar {
    padding: 16px 0;
    background: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);

    .navbar-brand {
        height: 54px;
        margin: 0;
        padding: 0;

        img {
            height: 100%;
        }
    }

    .navbar-toggler {
        box-shadow: none;
        border: none;

        @media (max-width: 768px) {
            padding-right: 0;
        }

        &:hover {
            .navbar-toggler-icon {
                color: $primaryColor;
            }
        }
    }

    .navbar-nav {
        gap: 10px;

        li {
            a {
                font-weight: 500;
                color: #000;
                font-size: 16px;
                outline: none;
                &.active,
                &:hover, &:focus {
                    color: $primaryColor;
                    outline: none;
                    background: transparent;
                }
            }

            .btn {
                height: 44px;
                font-weight: 600;
                font-size: 14px;
                font-family: "Inter", sans-serif;
                padding: 0 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn-outline-secondary {
                border: 1px solid #cccccc;
                color: $primaryColor;

                &:hover {
                    background: $primaryColor;
                    border-color: $primaryColor;
                    color: #fff;
                }
            }

            .btn-primary {
                background: $secodaryColor;
                border-color: $secodaryColor;
                color: #fff;

                &:hover {
                    background: $primaryColor;
                    border-color: $primaryColor;
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .navbar-collapse {
            .navbar-nav {
                padding-top: 10px;

                a {
                    padding: 6px 0;
                }
            }
        }
        .dropdown-menu {
            background: #fafafa;
            border: none;
            padding: 5px 15px;
        }
    }
}

/* Banner */
.banner {
    background: url("../img/nergy_banner.webp") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 100vh;

    @media (max-width: 768px) {
        height: 500px;
        background: url("../img/nergy_banner.webp") no-repeat center center;
        background-size: cover;
    }
}

.bannerContent {
    height: 100vh;
    // max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;

    @media (max-width: 768px) {
        padding-top: 60px;
        height: 500px;
    }

    h1 {
        font-size: 64px;
        line-height: 80px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 15px 0;
        text-align: center;

        span {
            opacity: 0;
            filter: blur(4px);
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }

        .block {
            display: inline-block;
            width: auto;
            padding: 0 10px;
            position: relative;
            top: 15px;

            span {
                border-right: 3px solid;
                display: block;
                color: $secodaryColor;
                overflow: hidden;
                text-shadow: -4px 4px 1px #000;
                -webkit-text-shadow: -4px 4px 1px #000;
                animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
                animation-fill-mode: forwards;
                white-space: nowrap;
            }

            @media (max-width: 768px) {
                padding: 5px 10px;
            }
        }

        @media (max-width: 768px) {
            font-size: 36px;
            line-height: 46px;
        }
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 26px;
            margin-top: 10px;
        }
    }
}

.banner{
    .owl-item {
        &.active{
            h1{
                span:nth-child(1) {
                    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
                
                span:nth-child(2) {
                    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
                
                span:nth-child(3) {
                    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
                
                span:nth-child(4) {
                    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
                
                span:nth-child(5) {
                    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
                
                span:nth-child(6) {
                    animation: fade-in 0.8s 0.11s forwards cubic-bezier(0.11, 0, 0.5, 0);
                }
            }
        }
    }
}

.section {
    padding: 75px 0;

    @media (max-width: 768px) {
        padding: 40px 0;
    }

    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: $primaryColor ;
        margin: 0 0 30px 0;

        @media (max-width: 768px) {
            font-size: 28px;
            line-height: 36px;
            margin: 0 0 20px 0;
        }
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000;
        margin: 0 0 24px 0;

        @media (max-width: 768px) {
            margin: 0 0 25px 0;
            text-align: center;
        }
    }

    p {
        text-align: left;

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}

.trusted_slide {
    margin-top: 50px;

    figure {
        height: 75px;  
        display: flex;
        align-items: center;
        padding: 0 15px;

        img {
            max-height: 100%;
        }
    }
}

.ourPlatform {
    background: #E1EAF5;

    h3 {
        max-width: 950px;
        color: #052344;
        margin: 0 auto 50px;
    }
}

.platformBlock {
    height: 335px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

    &:hover {
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
    }
    @media (max-width: 768px) {
        height: 275px;
    }

    figure {
        margin: 0;
    }

    figcaption {
        padding: 32px 32px 0;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: #000000;
    }
}

.aboutSection {
    background: $primaryColor url("../img/aboutBg.png") no-repeat center center;
}

.aboutWrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 768px) {
        align-items: center;
        text-align: center;
    }

    .aboutNergy {
        color: $yellow ;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #fff;
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #E6E6E6;

        span {
            font-weight: 500;
            color: #fff;
        }

        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 26px;
        }
    }
}

.ourCourse {
    background: #052344;

    h3 {
        color: #fff;
    }
}
.coursesBlock{
    text-align: center;
    padding: 30px 8px;
    h4{
        margin: 10px 0;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        color: #fff;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    p{
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: #C6C6C6;
    }
    .btn {
        font-size: 14px;
        padding: 8px 18px;
    }
}
.courseCard {
    margin-top: 25px;
    padding: 34px 34px 24px;
    background: transparent;
    border: solid 1px transparent;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0);

    &:hover {
        background: $primaryColor;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);

        .btn {
            opacity: 1;
            visibility: visible;
        }

        h5 {
            color: #fff;
        }
    }

    @media (max-width: 768px) {
        border: 1px solid #E6E6E6;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
    }

    figure {
        width: 120px;
        height: 120px;
        background: #EEF2FF;
        margin: 0 auto 24px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
        position: relative;
        justify-content: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;

        span {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 26px;
            background: $yellow;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #000;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 28px;
            -moz-border-radius: 28px;
            -webkit-border-radius: 28px;
        }
    }

    h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-align: center;
        margin-bottom: 25px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }

    .btn {
        display: flex;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 41px;
        width: 110px;
        border: none;
        padding: 0 16px;
        background: $yellow;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #000000;
        opacity: 0;
        visibility: hidden;
        border-radius: 31px;
        -moz-border-radius: 31px;
        -webkit-border-radius: 31px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover {
            color: #000000;
            background: #fff;
        }

        @media (max-width: 768px) {
            opacity: 1;
            visibility: visible;
        }
    }
}

.certification {
    background: #F7F7F7;

    .certificationCard {
        background: #fff;
        border: 1px solid #E6E6E6;
        padding: 20px 24px;
        min-height: 400px;
        margin: 25px 25px 15px;
        border-radius: 24px;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
            -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
            .logoHead {
                figure{
                    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
                    -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
                }
            }
        }

        p {
            text-align: left;
        }

        @media (max-width: 768px) {
            margin: 25px 20px 0;
        }

        .logoHead {
            display: flex;
            align-items: center;
            position: relative;
            height: 95px;
            padding-left: 95px;
            padding-bottom: 45px;

            @media (max-width: 768px) {
                display: block;
            }

            figure {
                width: 118px;
                height: 118px;
                position: absolute;
                left: -44px;
                top: -44px;
                display: flex;
                align-items: center;
                margin-right: 14px;
                border: 1px solid #E6E6E6;
                background: #FFFFFF;
                padding: 0 10px;
                border-radius: 32px;
                -moz-border-radius: 32px;
                -webkit-border-radius: 32px;
                transition: all 0.3s 100ms ease;
                -moz-transition: all 0.3s 100ms ease;
                -webkit-transition: all 0.3s 100ms ease;
            }

            figcaption {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                &.red {
                    color: #E02427;
                }

                &.blue {
                    color: #003A72;
                }
            }
        }

        .cardHead {
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-bottom: 10px;
            }

            h5 {
                // width: calc(100% - 100px); 
                font-weight: 600;
                font-size: 24px;
                color: #000000;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #4D4D4D;
            }

            img {
                width: 73px;
            }
        }
    }
}

.owl-certification {
    @media (max-width: 1119px) {
        padding: 0 15px;
    }

    .owl-nav {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 35px);
        width: 100%;

        button {
            span {
                font-size: 45px;
                color: #5B5B5B;
            }
        }

        .owl-prev {
            position: absolute;
            left: -34px;

            @media (max-width: 1119px) {
                left: 0;
            }
        }

        .owl-next {
            position: absolute;
            right: -34px;

            @media (max-width: 1119px) {
                right: 0;
            }
        }
    }
}

.partnersSec {
    background: url('../img/partner_bg.png') no-repeat center center;
    padding: 45px 65px;
    height: 290px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;

    @media (max-width: 1119px) {
        background-position: left center;
        padding: 25px 25px;
    }
}

.partners {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 450px;
    margin-top: 35px;

    img {
        width: 62px;
        margin-right: 45px;
        filter: grayscale(100%);
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover {
            filter: grayscale(0%);
        }
    }

    @media (max-width: 768px) {
        gap: 35px;
        justify-content: center;

        img {
            margin: 0;
        }
    }
}

.joinWithUs {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            font-size: 26px;
            line-height: 36px;
        }
    }

    P {
        color: #E6E6E6;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    .btn {
        background: #fff;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 155px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        border: none;
        border-radius: 30px;
        -moz-border-radius: 30px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

        &:hover {
            color: #fff;
            background: $primaryColor;
        }
    }
}

footer {
    background: $footerBlack;
    padding-top: 55px;

    @media (max-width: 768px) {
        padding-top: 35px;
        text-align: center;

        .footer-logo {
            max-width: 180px;
        }
    }

    .social {
        padding: 30px 0;
        display: flex;
        gap: 16px;

        @media (max-width: 768px) {
            justify-content: center;
            padding: 25px 0;
        }

        a {
            display: block;
        }

        svg:hover path {
            fill: $yellow ;
        }

    }

    h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    .footerLinks {
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
            text-align: center;
        }

        a,
        p {
            display: flex;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            text-decoration: none;
            margin: 12px 0;
            gap: 8px;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            @media (max-width: 768px) {
                justify-content: center;
            }
        }

        a:hover {
            color: $yellow;
        }
    }

    .copyright {
        border-top: 1px solid #383C47;
        padding: 16px 0;
    }

    .copyright {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;

            @media (max-width: 768px) {
                display: block;
            }
        }

        .rights {
            span {
                color: $yellow;
            }

            @media (max-width: 768px) {
                margin-bottom: 18px;
                line-height: 26px;
                padding: 0 25px;
            }
        }

        .links {
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #5473E2;
                text-decoration: none;
                margin: 0 12px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Animation Key */
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    25% {
        width: 70%;
    }

    48% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    55% {
        width: 100%;
    }

    75% {
        width: 70%;
    }

    85% {
        width: 00%;
    }

    100% {
        width: 0;
    }
}


// Inner Page
.courseBanner {
    background: $primaryColor;
    padding: 185px 0 40px 0;

    @media (max-width: 768px) {
        padding: 145px 0 20px 0;
    }

    .coursehead {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        h2 {
            font-weight: 700;
            font-size: 42px;
            line-height: 49px;
            color: #FFFFFF;
            width: calc(100% - 100px);

            @media (max-width: 768px) {
                font-size: 32px;
                line-height: 40px;
                width: 100%;
                text-align: center;
            }

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                display: block;
                margin-top: 10px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        figure {
            display: block;
            width: 100px;
            height: 100px;
            background: #EEF2FF;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
    }
}

.chapterBox {
    padding: 24px 20px 24px 64px;
    background: #EEF2FF url("../img/tick_icon.svg") no-repeat 24px center;
    margin-bottom: 24px;
    border-radius: 87px;
    -moz-border-radius: 87px;
    -webkit-border-radius: 87px;
    transition: all 0.3s linear;
    text-align: left;

    span {
        display: block;
        margin-bottom: 6px;
        color: #666666;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        text-align: left;
    }
}

.stepsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 26px;

    @media (max-width: 768px) {
        gap: 12px;
        flex-wrap: wrap;
    }

    .steps {
        padding: 32px 16px;
        max-width: 205px;

        @media (max-width: 768px) {
            max-width: calc(50% - 24px);
            margin: 0 auto;
            padding: 12px 16px;
        }

        @media (min-width: 769px) and (max-width: 900px) {
            max-width: calc(25% - 24px);
            margin: 0 auto;
            padding: 12px 16px;
        }

        figure {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            background: #EEF2FF;
            margin: 0 auto 24px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        figcaption {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.innerbanner {
    margin-top: 75px;
    padding: 80px 0;
    background: url('../img/innerBanner.png') no-repeat center center #000;
    &.empty{
        padding-bottom: 0;
        padding-top: 0px;
    }
    h1 {
        max-width: 480px;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;

        @media (max-width: 768px) {
            text-align: center;
            font-size: 38px;
            line-height: 48px;
        }
    }
}

.becomeapartner {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 38px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;

    h4 {
        @media (max-width: 768px) {
            text-align: left;
        }
    }

    .form-label {
        letter-spacing: 0.15px;
        color: #000000;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .form-control,
    .form-select {
        font-size: 14px;
        height: 40px;
    }

    .formButton {
        display: flex;
        text-align: right;
        height: 100%;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 768px) {
            display: block;
        }

        .btn-primary {
            padding: 0 14px;
            width: 100px;
            height: 48px;
            background: #00438B;
            border-radius: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            border: none;
            margin: 0;

            &:hover {
                background: $secodaryColor;
            }
        }
    }
}

.subkabada {
    background: $yellow;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 700;
}

.nergy360{
    background: #ECECEC;
    h3{
        margin-bottom: 10px;
    }
    p{
        text-align: center;
        color: #60768E;
        margin:0 auto 50px;
        max-width: 500px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }
    .nergyEdu{
        p{
            text-align: left;
            margin: 0;
            font-size: 17px;
            line-height: 24px;
        }
        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 25px;
            p{
                text-align: center;
            }
        }
    }
}
.awardsandrec{
    background: linear-gradient(360deg, #000000 -5.41%, #052344 77.22%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    h3{
        color: #fff;
        margin-bottom: 70px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }  
    }
    .awards_card{
        width: 132px;
        height: 115px;
        background: url('../img/awards_graphics.svg') no-repeat center center;
        text-align: center;
        color: #E9E0B8;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding:28px 20px 12px;
        margin: 0 auto 15px;
        h5{
            margin: 0 0 4px;
            font-weight: 600;
            color: #F3E086;
        }
    }
    .awards_para{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #E7D6AB;     
        text-align: center;    
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }   
    }
}

.testimonial_slide{
    .testimonial_block{
        padding: 65px 25px;
        background: #FFFFFF;
        border: 1px solid #E3E3E3;
        margin: 15px 0;
        box-shadow: 1px 4px 5px rgba(210, 228, 249, 0.23);
        width: 550px;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        @media (max-width: 768px) {
            width: 320px;
        }  
        p{
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #666666;
            margin-bottom: 40px;
        }
        figure{
            width: 60px;
            height: 60px;
            background: #ECECEC;
            border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            overflow: hidden;
            margin: 0 auto 15px auto;
        }
        h5{
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            color: #00438B;
            font-weight: 600;
        }
        .role{
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            color: #666666;
        }
    }
    .active {
        .testimonial_block{
            box-shadow: 2px 4px 18px #D2E4F9;
        }
    }
    .owl-dots{
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @media (max-width: 768px) {
            margin-top: 20px;
        } 
        .owl-dot {
            width: 9px;
            height: 9px;
            border: none;
            padding: 0;
            margin: 0 6px;
            display: block;
            span{
                display: block;
                width: 9px;
                height: 9px;
                background: #BCBCBC;
                border-radius: 9px;
                -moz-border-radius: 9px;
                -webkit-border-radius: 9px;
            }
            &.active{
                span{
                    background: #616263;
                }
            }
        }
    }
}
.policy-section {
    h5{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 15px;
    }
}